.tablepress-id-2 {
	font-size: 13px;
	font-family: Arial, sans-serif;
}

table.tablepress-id-2 thead th {
	background-color: #90c649; /*background color */
}

table.tablepress-id-2 thead th {
	border-top-left-radius: 25px;
}

table.tablepress-id-2 .row-3 td {
	background-color: #9ACD32; /*background color */
	font-weight: bold; /*bold font */
/*borders */
}

table.tablepress-id-2 tbody .column-2 {
	background-color: #a4da5d; /*background color */
	font-weight: bold;
}

table.tablepress-id-2 tbody .column-1 {
	background-color: #a4da5d; /*background color */
	font-weight: bold;
}

table.tablepress-id-2 tbody .column-3 {
	background-color: #aee467; /*#aee467 background color */
	font-weight: bold;
}

table.tablepress-id-2 tbody .column-4 {
	background-color: #c2f87b; /*background color */
	font-weight: bold;
}